* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/network.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #2c3a47;
}

h1, p, small {
  color: #cad3c8;
}

a {
  color: #58b19f;
  text-decoration: none;
}

h1 {
  margin: 3rem;
}

p {
  font-size: 1.4rem;
}

small {
  font-size: 0.9rem;
  font-weight: bold;
}

.nav-bottom {
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 15px 0 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-primary {
  background-color: #58b19f;
  color: #2c3a47;
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.row {
  flex-flow: row wrap;
}

.menu-button {
  width: 32px;
  z-index: 33;
  display: block;
  height: calc(12px + 8px);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-button__wrapper {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 33;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}
.menu-button__bar {
  background-color: #cad3c8;
  height: 4px;
  width: 32px;
  display: block;
  position: absolute;
  transition: all 0.4s ease;
}
.menu-button__bar:nth-of-type(2) {
  top: 8px;
}
.menu-button__bar:nth-of-type(3) {
  top: 16px;
}
.menu-button.active .menu-button__bar {
  transform: translateY(8px) rotate(45deg);
}
.menu-button.active .menu-button__bar:nth-of-type(2) {
  transform: translateX(2rem);
  opacity: 0;
  visibility: hidden;
}
.menu-button.active .menu-button__bar:nth-of-type(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-overlay {
  background-color: #2c3a47;
  height: 100vh;
  width: 100vw;
  right: 0;
  position: fixed;
  padding: 8rem 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateX(100%);
  z-index: 22;
}
.menu-overlay.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}

.nav {
  display: flex;
  flex-direction: column;
}
.nav__item {
  color: #cad3c8;
  font-size: 2rem;
  transition: all 0.4s ease;
  position: relative;
  align-self: center;
  margin-bottom: 2rem;
}
.nav__item::after {
  position: absolute;
  content: "";
  background-color: #58b19f;
  height: 1.5vh;
  width: 0;
  bottom: -20%;
  left: 25%;
  transition: all 0.4s ease;
}
.nav__item:hover::after {
  width: 15vw;
}

.container {
  width: 80vw;
  height: auto;
  padding: 5vh 0;
  margin: auto;
  text-align: center;
}

.card {
  width: 80%;
  margin: 1rem auto;
  word-wrap: break-word;
  background-color: rgba(202, 211, 200, 0.8);
  padding: 1rem;
  border-radius: 5px;
}
.card h2 a {
  color: #2c3a47;
}
.card p {
  color: #2c3a47;
}

.card-link {
  height: 4vh;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #58b19f;
  background-color: #2c3a47;
  padding: 0.5rem;
  font-weight: bold;
}

.article-wrapper {
  word-wrap: break-word;
}

.form-input {
  height: 5vh;
  width: 80vw;
  border: none;
  border-radius: 5px;
  margin: 0.5rem auto;
  display: inline-block;
  background-color: #cad3c8;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}
.form-input::placeholder {
  color: #2c3a47;
}

.form-textarea {
  height: 50vh;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #cad3c8;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.form-textarea::placeholder {
  color: #2c3a47;
}

.form-submit {
  height: 8vh;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #2c3a47;
  background-color: #58b19f;
  margin-top: 1.5rem;
  font-weight: bold;
}

.crud-bar {
  position: fixed;
  display: flex;
  justify-content: end;
  bottom: 0;
  left: 0;
  padding: 1.5vh 3vh;
  height: 10vh;
  width: 100vw;
}

.crud-button {
  height: 6.5vh;
  width: 8.5vw;
  border: none;
  border-radius: 5%;
  transition: all 0.4s ease;
  margin: 0.5rem;
}
.crud-button i {
  font-size: 2rem;
  color: #2c3a47;
}
.crud-button.alert {
  background-color: #b33939;
}
.crud-button.new {
  background-color: #58b19f;
}
.crud-button.edit {
  background-color: #ccae62;
}
.crud-button:hover {
  transform: scale(1.2);
}

.bubble {
  margin: 0.5rem;
  width: 45%;
  height: 30vh;
  border-radius: 5%;
  color: #2c3a47;
  background-color: #ccae62;
  transition: all 0.4s ease;
}
.bubble:hover {
  color: #58b19f;
  background-color: rgba(44, 58, 71, 0.9);
}
.bubble:hover .counter {
  color: #58b19f;
}

.counter {
  font-size: 2.5rem;
  font-weight: bolder;
}

.dashboard-table {
  color: #58b19f;
  font-weight: bolder;
  margin: auto;
}
.dashboard-table tr:nth-of-type(odd) {
  background-color: rgba(44, 58, 71, 0.9);
}
.dashboard-table tr:nth-of-type(even) {
  background-color: rgba(202, 211, 200, 0.8);
  color: #2c3a47;
}

.form-p {
  margin: 0.5rem;
  display: inline-block;
}

/*# sourceMappingURL=app.css.map */
