//FONT
$font-size-base: 62.5%;

//COLORS
$falling-star: rgb(202, 211, 200);
$falling-star-bg: rgba(202, 211, 200, .8);

$ship-officer: rgb(44, 58, 71);
$keppel: rgb(88, 177, 159);
$eye-of-newt: rgb(179, 57, 57);
$desert: rgb(204, 174, 98);

//DIMENSIONS
$menu-button-bar-height: 4px;
$menu-button-bar-width: $menu-button-bar-height * 8;
$full-width: 100vw;

//ANIMATIONS
$transition-04s: all 0.4s ease;

//LAYERS
$layer1: 1;
$layer2: 22;
$layer3: 33;

//GLOBAL
* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: $full-width;
  background-image: url("../img/network.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: $ship-officer;
}

h1, p, small {
  color: $falling-star;
}

a {
  color: $keppel;
  text-decoration: none;
}

h1 {
  margin: 3rem;
}

p {
  font-size: 1.4rem;
}

small {
  font-size: .9rem;
  font-weight: bold;
}

.nav-bottom {
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 15px 0 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-primary {
  background-color: $keppel;
  color: $ship-officer;
  font-weight: bold;
}

//NAVIGATION
.menu-button {
  width: $menu-button-bar-width;
  z-index: $layer3;
  display: block;
  height: calc(#{$menu-button-bar-height * 3} + #{$menu-button-bar-height * 2});
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: $layer3;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
  }

  &__bar {
    background-color: $falling-star;
    height: $menu-button-bar-height;
    width: $menu-button-bar-width;
    display: block;
    position: absolute;
    transition: $transition-04s;

    &:nth-of-type(2) {
      top: $menu-button-bar-height * 2;
    }

    &:nth-of-type(3) {
      top: $menu-button-bar-height * 4;
    }
  }

  //MENU BURGER ANIMATION
  &.active {
    .menu-button__bar {
      transform: translateY(8px) rotate(45deg);

      &:nth-of-type(2) {
        transform: translateX(2rem);
        opacity: 0;
        visibility: hidden;
      }

      &:nth-of-type(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.menu-overlay {
  background-color: $ship-officer;
  height: 100vh;
  width: $full-width;
  right: 0;
  position: fixed;
  padding: 8rem 2rem;
  visibility: hidden;
  opacity: 0;
  transition: $transition-04s;
  transform: translateX(100%);
  z-index: $layer2;

  &.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
}

.nav {
  display: flex;
  flex-direction: column;

  &__item {
    color: $falling-star;
    font-size: 2rem;
    transition: $transition-04s;
    position: relative;
    align-self: center;
    margin-bottom: 2rem;

    //UNDERLINE
    &::after {
      position: absolute;
      content: "";
      background-color: $keppel;
      height: 1.5vh;
      width: 0;
      bottom: -20%;
      left: 25%;
      transition: $transition-04s;
    }

    &:hover::after {
      width: 15vw;
    }
  }
}

//CONTENT
.container {
  width: $full-width - 20vw;
  height: auto;
  padding: 5vh 0;
  margin: auto;
  text-align: center;
}

//ARTICLES INDEX
.card {
  width: 80%;
  margin: 1rem auto;
  word-wrap: break-word;
  background-color: $falling-star-bg;
  padding: 1rem;
  border-radius: 5px;

  & h2 a {
    color: $ship-officer;
  }

  & p {
    color: $ship-officer;
  }
}

.card-link {
  height: 4vh;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: $keppel;
  background-color: $ship-officer;
  padding: .5rem;
  font-weight: bold;
}

//ARTICLES SHOW
.article-wrapper {
  word-wrap: break-word;
}

//ARTICLES FORM
.form-input {
  height: 5vh;
  width: 80vw;
  border: none;
  border-radius: 5px;
  margin: .5rem auto;
  display: inline-block;
  background-color: $falling-star;
  font-size: 1.2rem;
  padding-left: 1.5rem;

  &::placeholder {
    color: $ship-officer;
  }
}

.form-textarea {
  height: 50vh;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: $falling-star;
  font-size: 1.2rem;
  padding: 1.5rem;

  &::placeholder {
    color: $ship-officer;
  }
}

.form-submit {
  height: 8vh;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: $ship-officer;
  background-color: $keppel;
  margin-top: 1.5rem;
  font-weight: bold;
}

.crud-bar {
  position: fixed;
  display: flex;
  justify-content: end;
  bottom: 0;
  left: 0;
  padding: 1.5vh 3vh;
  height: 10vh;
  width: $full-width;
}

.crud-button {
  height: 6.5vh;
  width: 10vw;
  border: none;
  border-radius: 5%;
  transition: $transition-04s;
  margin: .5rem;

  & i {
    font-size: 2rem;
    color: #2c3a47;
  }

  &.alert {
    background-color: $eye-of-newt;
  }

  &.new {
    background-color: $keppel;
  }

  &.edit {
    background-color: $desert;
  }

  &:hover {
    transform: scale(1.2);
  }
}